<br/>
<div class="row">
<div class="col-sm-8">
	<div class="panel panel-primary">
	<div class="panel-body">
		<p>The Grand Howl is a collaborative platform for sharing ideas, resources
		and tools amongst Pack Scouters in South Africa.  You can search for a
		game or activity for your programme either by typing the key words into
		the search bar or going through the relevant category to get some ideas.
		We also encourage you to register so that you can add your own items,
		comment on those already on the site or rate them if you tried something
		out.</p>
		<p>
		The badges section provides a document that can be printed out for your
		Cubs to help them track their progress on completing an interest badge.
		If you have registered, your Group’s name will appear on the bottom.
		Where possible, activities or games are linked to the relevant Trail so
		that you can also search based on the achievements you need to complete.
		In the next phase, we hope to launch a Programme Builder that will allow
		you to choose the elements you want to put together your programme each
		week.</p>
		<p>Hope you enjoy using this site and will contribute to make it even better :-)</p>
	</div>
	</div>
</div>
<div class="col-sm-4 text-center">
    <%= image_tag('wolf2.png', :class => "img-responsive") %>
</div>
</div>
<br/>
