<li>
    <a href="/admin/badges"><font style="color:#eee;"><strong>Badges</strong></font></a>
</li>
<li>
    <a href="/admin/advancements"><font style="color:#eee;"><strong>Advancements</strong></font></a>
</li>
<li>
    <a href="/admin/categories"><font style="color:#eee;"><strong>Categories</strong></font></a>
</li>
<li>
    <a href="/admin/users"><font style="color:#eee;"><strong>Users</strong></font></a>
</li>
<li>
	<a href="/entries"><font style="color:#eee;"><strong>My entries</strong></font></a>
</li>
<li>
    <a href="/myvenues"><font style="color:#eee;"><strong>My venues</strong></font></a>
</li>
<li>
    <a href="/myprograms"><font style="color:#eee;"><strong>My programmes</strong></font></a>
</li>
<li>
    <a href="/logout"><font style="color:#eee;"><strong>Logout</strong></font></a>
</li>
