<li>
    <a href="/badges"><font style="color:#FFF;"><strong>Badges</strong></font></a>
</li>
<li>
    <a href="/advancements"><font style="color:#FFF;"><strong>Advancements</strong></font></a>
</li>
<li>
    <a href="/contact"><font style="color:#FFF;"><strong>Contact</strong></font></a>
</li>
<li>
    <a href="/register"><font style="color:#FFF;"><strong>Register</strong></font></a>
</li>
<li>
    <a href="/login"><font style="color:#FFF;"><strong>Login</strong></font></a>
</li>
