<div class="row">
<div class="col-sm-12 text-center" style="background:url('/images/wolf.png') center no-repeat; height:150px; background-size: contain;">
    <div class="text-center" style="padding-left:500px;">
        <h3 style="line-height:100px;">Welcome</h3>
    </div
</div>
</div>
<div style="clear:both; padding:10px;"></div>

<hr/>
<br/>

<div class="container container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
<div class="panel panel-primary">
<div class="panel-body">
<h3>Welcome to the GrandHowl</h3>
<br/>
<p>

Thank you for registering on the Grand Howl.  You can now add your own entries - games, activities, songs or any other resources you think other Pack Scouters may find useful.  In this way, you help build a database that we can search for new ideas or when we need a quick game or activity to finish off a programme.

</p>
<p>
The next phase will include a Programme Builder but feel free to contact us with any suggestions, feedback or items you would like to see added to the site.
</p>
<p>
Regards
</p>
<p>
<h4>Akela<br/>
Grand Howl</h4>

</p>
</div>
</div>

		</div>
		<div class="col-md-2"></div>
	</div>
