<!DOCTYPE html>
<html>
<head>
</head>
<body>
<img src="http://grandhowl.co.za/images/wolf.png"/>
<h3>Welcome to the GrandHowl</h3>
<hr/>
<p>

Thank you for registering on the Grand Howl.  You can now add your own entries - games, activities, songs or any other resources you think other Pack Scouters may find useful.  In this way, you help build a database that we can search for new ideas or when we need a quick game or activity to finish off a programme.

</p>
<p>
The next phase will include a Programme Builder but feel free to contact us with any suggestions, feedback or items you would like to see added to the site.
</p>
<p>
Regards
</p>
<p>
<h3>Akela<br/>
Grand Howl</h3>

</p>
<hr/>
</body>
</html>
