    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the administrative section</h1>
                <p>
                	Please select an option from the menu on the left. The help menu option will provide additional details.
                </p>
            </div>
        </div>
    </div>
