<% @document = Document.new %>
<%= form_for(@document, :remote => true, :html => {:id => "document_form", :class => "form-inline",:multipart => true }) do |f| %>
    <label for="document" class="col-md-1 control-label">Upload</label>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <% if !@entry.blank? %>
          <input name="entry_id" value="<%= @entry.slug %>" type="hidden">
    <% end %>
    <% if !@program.blank? %>
        <input name="program_id" value="<%= @program.slug %>" type="hidden">
    <% end %>

    <div class="col-md-8">
    Description <input type="text" class="form-control" id="description" name="document[description]">
    <input type="file" class="form-control" id="document" name="document[raw]">
    <button onclick="$('#document_form').submit(); return false;" class="btn btn-sm btn-default pull-right">Upload</button>
    </div>
<% end %>


<h4 class="pull-right">Documents</h4>
<div style="clear:both; padding:10px;"></div>
<% @documents = @entry.documents if !@entry.blank? %>
<% @documents = @program.documents if !@program.blank? %>

<table class="table table-striped table-hover">
    <thead>
        <tr class="primary">
            <td>
                Description
            </td>
            <td>
                URL link (for use in posts)
            </td>
            <td align="right">
                Action
            </td>
        </tr>
    </thead>
    <tbody>
    <% @documents.each do |document| %>
    <tr>
        <td>
            <%= document.description %>
        </td>
        <td>
            <%= 'http://' + request.host  + document.raw.url %>
        </td>
        <td align="right">
                    <%= link_to content_tag(:span,'', :class => 'glyphicon glyphicon-trash', :style => 'color : #333;'), { controller: :documents, action: :destroy, id: document.id }, method: :delete, data: { confirm: 'Are you sure you wish to delete this document ?', :remote => true } %>
    &nbsp;&nbsp;

        </td>
    </tr>
    <% end %>
    </tbody>
</table>
